.shopping-card-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 10px;
  width: 780px;
  height: 180px;
}

.item-image {
  border-right: 1px solid #ddd;
  margin-right: 32px;
}

.item-image img {
  height: 100%;
  width: 180px;
  border-radius: 4px;
}

.item-details {
  flex-grow: 1;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  margin-top: 32px;
  gap: 32px;
}

.item-details-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  gap: 32px;
}

.item-name {
  font-size: 20px;
  margin: 0;
  font-weight: 500;
  color: #282828;
}

.quantity-section {
  display: flex;
  align-items: center;
  gap: 36px;
}

.quantity-btn {
  background-color: transparent;
  border: 1px solid #dddddd;
  width: 58px;
  height: 58px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
}

.quantity-value {
  font-size: 1.2rem;
  font-weight: bold;
}

.item-prices {
  text-align: right;
}

.current-price {
  font-size: 40px;
  font-weight: 600;
  margin-right: 16px;
}

.original-price {
  font-size: 20px;
  color: #8b8b8b;
  text-decoration: line-through;
  font-weight: 600;
}

.remove-button {
  position: absolute;
  top: 22px;
  right: 32px;
  background: none;
  border: none;
  font-size: 40px;
  line-height: 1;
  color: #282828;
  cursor: pointer;
  padding: 0;
}
